html {
    background: url(../images/audience-1853662__480.jpg) no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  img {
    height: 300px;
    width: 300px;
  }
  .ui-autocomplete {
    color: purple;
    border-color: black;
    font-weight: bold;
    border-style: solid;
    width: 150px;
    background-color: white;
  }
  
  .list-items {
    display: inline-flex;
  }